.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 100;

  .navbar__left {
    margin-left: 10%;
    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: auto;
    }
  }

  .navbar__right {
    margin-right: 10%;
    .navbar__group {
      display: flex;
      flex-direction: row;
      align-items: center;

      .navbar__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        &:not(:last-child) {
          margin-right: 30px;
        }

        .navbar__item__name {
          display: flex;
          align-items: center;
          font-size: 15px;
          color: #65717d;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  top: 40px;
  left: 15px;
  padding: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #04ccaf;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;

  .nav-dropdown__wrapper {
    display: flex;
    flex-direction: column;

    .nav-dropdown__logout {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      height: 30px;
      transition: all 0.25s ease-in-out;
      border-radius: 5px;
      color: #65717d;
      &:hover {
        background-color: #f9f9f9;
      }
    }
  }

  &.nav-dropdown--show {
    opacity: 1;
    visibility: visible;
  }
}